[tool.ruff]
line-length = 150
indent-width = 2


[tool.ruff.format]
indent-style = "space"
quote-style = "single"

[tool.ruff.lint]
select = [
  "E", # pycodestyle errors
  "W", # pycodestyle warnings
  "F", # pyflakes
  "I", # isort
  "A", # flake8-builtins
  "B", # flake8-bugbear
  "C4", # flake8-comprehensions
  "UP", # pyupgrade
  "N", # pep8-naming
  "PL" # pylint
]
ignore = [
  "B008", # do not perform calls in argument defaults
  "N806", # variable in function should be lowercase
]

[tool.mypy]
strict = true

[[tool.mypy.overrides]]
module = "tests.*"
ignore_errors = true

[tool.coverage.report]
exclude_also = [
  "if __name__ == .__main__.:",
]
